nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white; /* إضافة لون خلفية إذا لزم الأمر */
  z-index: 1000; 
}

.virtical-nav {
  position: fixed;
  top:70px;
  padding: 20px;
  border-right: 3px solid #cac8c8;
  padding-right: 10px;
  width: 200px;
  height: 100vh;
}
.nav-link {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  
  .nav-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: transparent;
    margin-top: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .nav-link.clicked::after {
    background-color: black;
  }
  